/* Typography */
body {
    font-family: var(--primary-font), sans-serif;
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
}

/* Global */
.container {
    max-width: 80%;
}

/* Heading with Hamburger menu */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px var(--bg-shadow);
    padding: 0 12%;
    background-color: var(--bg-heading);
    position: sticky;
    z-index: 9999;
    top: 0;
}

.logo {
    width: var(--size-800);
}

.hamburger-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-navigation ul {
    /* !!! */
    list-style: none;
    display: flex;
    padding: 0;
}

.primary-navigation ul li {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.primary-navigation ul li button {
    margin: var(--size-100) 6%;
}

/* add on */
.primary-navigation a {
    display: flex;
    text-decoration: none;
    color: var(--nav-text-color);
    padding: var(--size-200) var(--size-300);
    transition: all 300ms ease;
    font-weight: var(--fw-regular);
    font-size: var(--fs-primary-navigation);
}

.primary-navigation a.active-link,
.primary-navigation a:hover {
    color: var(--nav-hover-color);
}

.primary-navigation a.active-link::after,
.primary-navigation a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: var(--nav-hover-color);
    position: absolute;
    bottom: 10px;
    left: 20x;
}

/* .primary-navigation a.accent-link{
    background-color: ;
} + bottom for active*/


#cart-mobile {
    display: none;
}

#open-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: var(--size-200);
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: var(--size-200);
    cursor: pointer;
    font-size: var(--size-300);
}

#open-sidebar-button i {
    font-size: var(--size-300);
}

#overlay {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

.skip-link {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: var(--size-200);
    left: var(--size-200);
    z-index: 1000;
    /* background-color: var(accent); */
    /* color: #fff; */
    padding: var(--size-200) var(--size-300);
    border-radius: .3125rem;
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
    transition: opacity .3s ease;
}

.skip-link:focus {
    opacity: 1;
    pointer-events: auto;
    outline: .1875rem solid #fff;
}

@media screen and (max-width: 65rem) {
    .header {
        padding: 0 2%;
    }
}

@media screen and (max-width: 53rem) {
    .primary-navigation a {
        padding: var(--size-200) var(--size-300);
    }
}

@media screen and (max-width: 46rem) {
    #cart-mobile {
        display: inline;
    }

    #cart-desktop {
        display: none;
    }

    .primary-navigation ul {
        margin: 0;
    }

    .header {
        padding: var(--size-200) 12%;
    }

    .primary-navigation {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(20rem, 100%);
        z-index: 10;
        border-left: 3px solid #000;
        transition: right 300ms ease-out;
        background-color: var(--bg-heading);
        /* */
    }

    .primary-navigation.show {
        right: 0;
    }

    .primary-navigation.show~#overlay {
        display: block;
    }

    .primary-navigation ul {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }

    .primary-navigation a {
        width: 100%;
    }

    #open-sidebar-button,
    #close-sidebar-button {
        display: block;
    }
}

/* .primary-navigation a::after,
.primary-navigation a.active::after {
    content: "";
    position: absolute;
    background-color: #7d7465;
    height: 10px;
    left: var(--size-200);
    right: var(--size-200);
} */

/* Hidden elements(A11Y) */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

.button {
    background-color: #fff;
    font-weight: var(--fw-bold);
    color: #000;
    padding: var(--size-200) var(--size-500);
    border-radius: 4px;
    box-shadow: 0px 5px 15px var(--bg-heading);
    cursor: pointer;
    border: none;
    outline: none;
    transition: 300ms ease;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 30px var(--bg-heading);
}

/* NewsLetters */
#newsletters {
    background-image: url('../images/newsletter-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    margin-top: var(--size-700);
    color: white;
}

#newsletters .email-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
}

#newsletters h3 {
    font-size: var(--fs-small-heading);
    font-weight: var(--fw-bold);
}

#newsletters span {
    color: var(--shop-button-color);
}

#newsletters label {
    width: 100%;
    cursor: pointer;
}

#newsletters input[type="email"] {
    height: var(--size-500);
    padding: 0 var(--size-300);
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletters input[type="submit"] {
    background-color: var(--nav-hover-color);
    box-shadow: none;
    color: #fff;
    height: var(--size-500);
    line-height: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletters input[type="submit"]:hover {
    transform: scale(1);
}

#newsletters .text-container {
    margin: 0 var(--size-900);
}

@media screen and (max-width: 52.5rem) {
    #newsletters {
        flex-direction: column;
        justify-content: center;
        gap: var(--size-300);
        align-items: start;
        padding-left: var(--size-500);
    }

    #newsletters input[type="email"] {
        width: 60%;
    }

    #newsletters .text-container {
        margin: 0;
    }

    #newsletters .email-form {
        width: 70%;
    }

}

@media screen and (max-width: 30rem) {
    #newsletters {
        height: 30vh;
        padding: var(--size-300);
    }

    #newsletters .email-form {
        width: 100%;
    }

    #newsletters .button {
        padding: var(--size-200) var(--size-400);
    }
}

/* Footer */

#footer {
    margin: var(--size-700) 0 var(--size-300) 0;
}

#footer .left-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--size-700);
}

#footer h3,
#footer .logo {
    margin-bottom: var(--size-300);
}

#footer a,
#footer p {
    color: var(--nav-text-color);
    line-height: 1.7;
}

#footer a {
    transition: 300ms all ease;
    text-decoration: none;
}

#footer a:hover {
    color: var(--nav-hover-color);
}

#footer strong {
    color: black;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .copyright {
    text-align: center;
    margin-top: var(--size-300);
}

@media screen and (max-width: 52.5rem) {

    .download-links ul li {
        margin: var(--size-200) 0;
    }

    .payment-links ul li {
        margin: var(--size-200) 0;
    }

    .download-links img {
        max-height: var(--size-500);
    }

    #footer {
        margin: var(--size-700) var(--size-500) var(--size-300) var(--size-500);
    }

    #footer .left-side {
        justify-content: start;
        gap: var(--size-200) var(--size-500);
    }

    #footer h3,
    #footer .logo {
        margin-bottom: var(--size-200);
    }

}

.social-icons h3 {
    margin-top: var(--size-300);
}

.download-links ul,
.payment-links ul,
.social-icons ul {
    display: flex;
    gap: var(--size-100);
}

.download-links ul li {
    margin: var(--size-300) 0;
}

.download-links img {
    max-height: var(--size-600);
    border-radius: var(--size-100);
    border: 1px solid var(--nav-hover-color);
}

.payment-links ul li {
    margin: var(--size-300) 0;
}

.payment-links img {
    width: var(--size-600);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-400);
}

.category {
    width: 22rem;
    text-align: center;
    box-shadow: 0px 0px 15px var(--bg-heading);
    transition: all 300ms ease;
}

.category:hover {
    box-shadow: 0px 0px 30px var(--bg-heading);
}

.category a {
    text-decoration: none;
    color: #000;
}

.category h3 {
    margin: var(--size-200);
}

/* New collections */
.collection {
    text-align: center;
    margin-top: var(--size-700);
}

.collection>p:first-of-type {
    margin-top: var(--size-500);
}

.collection p {
    font-weight: var(--fw-light);
    font-size: var(--fs-s);
    margin: var(--size-100);
}

.collection h2 {
    margin: var(--size-100) 0 var(--size-250) 0;
    font-weight: var(--fw-thinner);
    font-size: var(--fs-small-heading);
}

.collection h3 {
    margin: var(--size-100);
}

.collection .category {
    position: relative;
    text-align: left;
}

.collection button {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--size-200);
    cursor: pointer;
}

.collection .rating {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: var(--size-100);
}