/* Hero section */
#hero {
    background-image: url('../images/hero.png');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: var(--size-200) 12%;
    font-size: var(--fs-bigger-text);
}

@media screen and (max-width: 65rem) {
    #hero {
        padding: var(--size-100) 2%;
    }
}

@media screen and (max-width: 53rem) {
    #hero {
        padding: var(--size-200) var(--size-200);
    }
}

@media screen and (max-width: 46rem) {
    #hero {
        padding: var(--size-300) 12%;
    }
}

#hero h1 {
    font-size: var(--fs-big-heading);
    line-height: 1.05;
    margin-bottom: var(--size-200);
}

#hero span {
    color: var(--nav-hover-color);
}

#hero h3 {
    font-size: var(--fs-regular-heading);
}

#hero p {
    margin-bottom: var(--size-300);
}

#hero a {
    background-image: url('../images/brushed-button.png');
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 25px;
    padding: var(--size-300) var(--size-600);
    color: #fff;
    text-decoration: none;
    margin-left: var(--size-600)
}

/* Shop by categories */
#categories {
    margin: var(--size-300) 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#categories h2 {
    margin: var(--size-300);
    font-size: var(--fs-small-heading);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-400);
}

.category {
    width: 22rem;
    text-align: center;
    box-shadow: 0px 0px 15px var(--bg-heading);
    transition: all 300ms ease;
}

.category:hover {
    width: 22rem;
    text-align: center;
    box-shadow: 0px 0px 30px var(--bg-heading);
}

.category a {
    text-decoration: none;
    color: #000;
}

.category h3 {
    margin: var(--size-200);
}

/* New collection */
#new-collection {
    text-align: center;
    margin-top: var(--size-700);
}

#new-collection>p:first-of-type {
    margin-top: var(--size-500);
}

#new-collection p {
    font-weight: var(--fw-light);
    font-size: var(--fs-s);
    margin: var(--size-100);
}

#new-collection h2 {
    margin: var(--size-100) 0 var(--size-250) 0;
    font-weight: var(--fw-thinner);
    font-size: var(--fs-small-heading);
}

#new-collection h3 {
    margin: var(--size-100);
}

#new-collection .category {
    position: relative;
    text-align: left;
}

#new-collection button {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--size-200);
    cursor: pointer;
}

#new-collection .rating {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: var(--size-100);
}

/* Carousel */
.carousel {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: var(--size-700);
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    padding: 0 12%;
}

.slide img {
    width: 100%;
    border-radius: var(--size-300);
}

.carousel:hover .carousel-button,
.carousel:focus-within .carousel-button {
    opacity: 1;
    pointer-events: auto;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
    position: relative;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: var(--fs-regular-heading);
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    /* color: ; */
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    padding: var(--size-100);
    border-radius: 9999px;
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel .prev {
    left: 13%;
}

.carousel .next {
    right: 13%;
}

@media screen and (max-width: 65rem) {
    .slide {
        padding: 0 2%;
    }

    .carousel .prev {
        left: 3%;
    }

    .carousel .next {
        right: 3%;
    }
}

@media screen and (max-width: 46rem) {
    .slide {
        padding: var(--size-200) 12%;
    }

    .carousel .prev {
        left: 13%;
    }

    .carousel .next {
        right: 13%;
    }
}

@media (hover: none) and (pointer: coarse) {
    .carousel-button {
        opacity: 1;
        pointer-events: auto;
    }
}

/* Banner */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/banner2.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
}

#banner h3 {
    font-size: var(--fs-small-heading);
}

#banner h2 {
    font-size: var(--fs-regular-heading);
    margin-bottom: var(--size-400);
}

#banner h2 span {
    color: rgb(36, 36, 36);
}

@media screen and (max-width: 65rem) {
    #banner h3 {
        font-size: var(--fs-xs-heading);
    }

    #banner h2 {
        font-size: var(--fs-small-heading);
    }
}














/* section margins,paddings */