body {
    font-family: var(--primary-font), sans-serif;
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
}
html, body {
  overflow-x: hidden;
}
#sign-div{
    /* border: 1px solid black; */
    /* justify-content: center;
    align-items: center; */
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    background-color: var(--bg-heading);
    width: 800px;
    height: 450px;
    display: flex;
}
#h1-sign{
    text-align: left;
    color: var(--nav-text-color);
    margin-left: 50px;
}
p{
    margin-left: 50px;
    color: var(--nav-text-color);
}
.sign-inputs{
    margin-left: 100px;
    margin-top: 50px;
    justify-items: center;
    /* border: 1px solid black; */
}
.input{
    width: 300px;
    margin: 10px;
    display: flex;
}
/* .top-input{
    margin-bottom: 80px;
} */

.input-box {
  position: relative;
  width: 300px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  background: none;
}

.input-box label {
  position: absolute;
  top: 10px;
  left: 20px;
  color: gray;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
}

.email-input input:focus + label,
.email-input input:not(:placeholder-shown) + label {
  top: -10px;
  left: 15px;
  font-size: 14px;
  color: gray;
  background: var(--bg-heading);
  padding: 0 5px;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -10px;
  left: 15px;
  font-size: 14px;
  color: gray;
  background: var(--bg-heading);
  padding: 0 5px;
}



.sign-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#btn {
    background-color: #fff;
    font-weight: var(--fw-bold);
    color: #000;
    padding: var(--size-200) var(--size-500);
    border-radius: 4px;
    box-shadow: 0px 5px 15px var(--bg-heading);
    cursor: pointer;
    border: none;
    outline: none;
    transition: 300ms ease;
    width: 300px;
    margin-left: 10px;
}

#btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 30px var(--bg-heading);
}
#log-in-a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 5px;
}